@import "components.scss";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
}

input {
  text-transform: none;
}
a {
  text-decoration: none;
}
.main-btn {
  height: 40px;
  padding: 0 20px;
  color: $black;
  border: 1px solid $black;
  display: inline-flex;
  place-items: center;
}
